.footer {
  z-index: 100;
  text-align: center;
  background-color: $footer-color;
  border-top: 1px solid $primary-color;

  &__logobar {
    margin-top: 2rem;
    @include flexbox;
    @include justify-content(space-around);
  }

  picture {
    @include vertically-center;
  }

  img {
    display: block;
    width: 7rem;
    height: auto;
  }

  a {
    text-decoration: none;
    color: rgb(52, 164, 255);
  }

  a:visited {
    color: rgb(71, 171, 252);
  }

  p {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial,
      sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    color: #ffffff;
    margin-top: 1rem;
  }
}
