.section {
  margin-bottom: 8rem;
  &__title {
    font-size: 1.5rem;
    color: $header-text-color;
    font-family: $header-font;
    @include respond-to(screen-md) {
      margin-bottom: 3rem;
    }
  }
}

.colored {
  background: $section-color linear-gradient(121deg, $section-color, $section-color);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 8rem 0rem 10rem;
  clip-path: polygon(0 40px, 100% 0, 100% calc(100% - 40px), 0 100%);
  -webkit-clip-path: polygon(0 40px, 100% 0, 100% calc(100% - 40px), 0 100%);

  h2 {
    color: #ffffff;
    font-family: $header-font;
  }

  p {
    font-size: 1.1rem;
    text-align: center;
    color: #bdbdbd;
    font-family: $header-font;
    margin: 1rem 0.4rem 1rem 0.4rem;
  }
}
