<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <script defer src="../script/mvc/form.js"></script>
    <!-- <script defer src="../script/pages/order.js"></script>
    <script defer src="../script/pages/form.js"></script> -->
    <link rel="stylesheet" href="../scss/app.scss" />
  </head>
  <body class="body bg-image">
    <div class="bg-blur"></div>
    <header class="header">
      <nav class="nav">
        <div class="nav__container">
          <a href="">
            <picture class="nav__logo">
              <source srcset="/res/img/unconverted/logo2.png" type="image/avif" />
              <img src="/res/img/unconverted/logo2.png" class="nav__logo" />
            </picture>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <section id="checkout">
        <div class="container">
          <div class="checkout-box">
            <div class="checkout-box__img">
              <picture id="packageImage">
                <source srcset="/res/img/unconverted/wordpress.svg" type="image/avif" />
                <img src="/res/img/unconverted/cpanel.jpg" alt="" />
              </picture>
            </div>
            <div class="checkout-box__summary">
              <h3>Order Summary</h3>
              <div class="order-row">
                <p>Package name:</p>
                <p id="packageName" class="bold"></p>
              </div>
              <div class="order-row">
                <p>Subtotal:</p>
                <p id="packageCost"></p>
              </div>
              <div class="order-row">
                <p>Discount:</p>
                <p>0%</p>
              </div>
              <div class="order-row">
                <p>Tax:</p>
                <p id="packageTax"></p>
              </div>
              <div class="order-row">
                <h3>TOTAL</h3>
                <h3 id="packageFinalPrice"></h3>
              </div>
            </div>
            <div class="checkout-box__form">
              <h3>Complete your order details</h3>
              <form class="order__form" name="orderForm" action="">
                <div class="form-row">
                  <label for="formName">Name </label>
                  <input type="text" name="formName" id="formName" required />
                  <p></p>
                  <svg
                    class="svgError"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <svg
                    class="svgSuccess"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div class="form-row">
                  <label for="formEmail">Email Address</label>
                  <input type="text" name="formEmail" id="formEmail" required />
                  <p></p>
                  <svg
                    class="svgError"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <svg
                    class="svgSuccess"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div class="form-row">
                  <label for="formPhoneNumber">Phone Number</label>
                  <input type="text" name="formPhoneNumber" id="formPhoneNumber" required />
                  <p></p>
                  <svg
                    class="svgError"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <svg
                    class="svgSuccess"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div class="form-row">
                  <label for="formDiscount">Discount Code</label>
                  <input type="text" name="formDiscount" id="formDiscount" />
                  <p></p>
                  <svg
                    class="svgError"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <svg
                    class="svgSuccess"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div>
                  <button class="" id="orderBtn">Submit Order</button>
                  <button class="" id="cancelBtn">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="modal" id="modal-one">
      <div class="modal-bg"></div>
      <div class="modal-container">
        <h1>Are you sure you want to submit this order?</h1>
        <h2></h2>
        <h3></h3>
        <p>You will be emailed an invoice of this order for payment.</p>
        <button id="modal-submit" class="modal-submit">Submit</button>
        <button id="modal-close" class="modal-close modal-exit">Cancel</button>
      </div>
    </div>

    <div class="modal" id="modal-two">
      <div class="modal-bg"></div>
      <div class="modal-container">
        <h1>Thanks!</h1>
        <h2>Your order was successfully submitted.</h2>
        <img src="../../res/img/unconverted/shiba-inu.jpeg" alt="Thank you image" />
        <button id="modal-return" class="modal-return">Return Home</button>
      </div>
    </div>

    <footer class="footer pb-10" data-aos="fade-in" data-aos-duration="1000">
      <div class="container">
        <p>
          © 2021
          <span><a href="https://github.com/ebates1" target="_blank">Eli Bates</a></span>
        </p>
        <p>
          This project was made for the course ISTE-340 at
          <span><a href="https://www.croatia.rit.edu/" target="_blank"> RIT Croatia</a></span>
        </p>

        <p>
          Check my performance score on
          <span
            ><a
              href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fiste-340-project-1.netlify.app%2F&tab=mobile"
              target="_blank"
              >Google PageSpeed Insights</a
            ></span
          >
        </p>
      </div>
    </footer>
  </body>
</html>
