.footer {
  text-align: center;
  background-color: $footer-color;
  border-top: 1px solid rgb(33, 73, 160);

  &__logobar {
    margin-top: 2rem;
    @include flexbox;
    @include justify-content(space-around);
  }

  picture {
    @include vertically-center;
  }

  img {
    display: block;
    width: 7rem;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: rgb(5, 111, 199);
  }

  p {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
      helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    color: #ffffff;
    margin-top: 1rem;
  }
}
