.nav {
  height: $navigation-height;
  max-height: $navigation-height;
  background-color: $navbar-color;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  @include horizontaly-flex-between;

  &__container {
    //constrains the navbar
    @include horizontally-center;
    width: 100%;
    height: 100%;
    transition: width 0.3s linear 0.3s; //avoid funky snap when rezising window
    @include horizontaly-flex-between;

    //container media queries
    @include container-constrain;
  }

  /** The logo*/
  &__logo {
    // The site logo
    height: 75%;
  }

  /** The List for the navigation bar*/
  &-list {
    height: 100%;
    list-style: none;
    @include horizontaly-flex-between;

    &__item {
      //The unordered list
      @include vertically-center;
      margin-right: 2rem;
    }

    &__link {
      //The anchor
      text-decoration: none;
      font-family: $header-font;
      color: $navbar-link-color;
      &:hover {
        color: $navbar-link-hover;
      }
    }
  }
}
