.nav {
  height: $navigation-height;
  max-height: $navigation-height;
  background-color: $navbar-color;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  @include horizontaly-flex-between;

  &__container {
    //constrains the navbar
    @include horizontally-center;
    width: 100%;
    height: 100%;
    transition: width 0.3s linear 0.3s; //avoid funky snap when rezising window
    @include horizontaly-flex-between;

    //container media queries
    @include container-constrain;
  }

  /** The logo*/
  &__logo {
    // The site logo
    height: 75%;
  }

  /** The List for the navigation bar*/
  &-list {
    height: 100%;
    list-style: none;
    @include horizontaly-flex-between;

    &__item {
      //The unordered list
      @include vertically-center;
      margin-right: 2rem;
      position: relative;
    }

    &__link::after {
      content: '';
      position: absolute;
      bottom: -8;
      left: 0;
      width: 100%;
      height: 0.15rem;
      background-color: $primary-color;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }

    &__link:hover::after {
      visibility: visible;
      border-top: 1px rgb(48, 77, 171) solid;
      border-bottom: 1px rgb(78, 107, 203) solid;
      transform: scaleX(1);
    }

    &__link {
      //The anchor
      text-decoration: none;
      font-family: $header-font;
      color: $navbar-link-color;
      font-size: 1.25rem;
      @include respond-to(screen-md) {
        font-size: 1.5rem;
      }
      &:hover {
        color: $navbar-link-hover;
      }
    }
  }
}
