.section {
  &__title {
    font-size: 1.5rem;
  }
}

.colored {
  background: $section-color
    linear-gradient(121deg, $section-color, $section-color);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 8rem 0rem 10rem;
  clip-path: polygon(0 40px, 100% 0, 100% calc(100% - 40px), 0 100%);
  -webkit-clip-path: polygon(0 40px, 100% 0, 100% calc(100% - 40px), 0 100%);

  h2 {
    color: #ffffff;
    font-family: $header-font;
  }
}
